[submodule "kaitai_struct_python_runtime"]
	path = kaitai_lithtech_dat_struct/kaitai_struct_python_runtime
	url = https://github.com/kaitai-io/kaitai_struct_python_runtime.git
	branch = master
[submodule "kaitai_lithtech_dat_struct"]
	path = kaitai_lithtech_dat_struct
	url = https://github.com/leoschur/kaitai_lithtech_dat_struct.git
	branch = main
